@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("MyAction", "Home", FormMethod.Post))
{



    <div><input type="submit" name="submitButton" value="C2QB" /></div>
    <br />

    <div><input type="submit" name="submitButton" value="GetAppNow" /></div>
    <br />

    <div><input type="submit" name="submitButton" value="SIWI" /></div>
    <br />


}